
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    --color1: hsla(45, 86%, 83%, 1);
    /* --color2: hsla(135, 65%, 98%, 1); */
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: #8EB897;
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}
header {
    padding: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

section {
    background-color: var(--color5);
    border-radius: 10px;
    width: 700px;
    max-width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: 10px;
    margin-bottom: 10px;

}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}



content {
    width: 80%;
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 0%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }

 button {
      padding: 10px;
      margin: 5px;
      background-color: #8EB897;
      border-radius: 10px;
      cursor: pointer;
      font-family: 'Roboto', sans-serif;
 }
button:hover{
    background-color: #4c7254;
}
 button:active {
     transform: translateY(1px);
     background-color: #a09e7e;
     border-radius: 10px;
 }

input {
    display: none;
}

input:checked + img {
    box-shadow: 2px 2px 10px 2px black;
    transform: translate3d(-1rem, .5rem, .5rem);
    border-radius: 10px;
}

img {
    max-height: 150px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;  
    background-color: #5B7553;
    border-radius: 10px;
}

label {
    display: grid;
    justify-content: center;
    border-radius: 5px;
   
}
#buttons{ 
    padding: 15px;
    border-radius: 10px;
}
#results-div {
    border-radius: 5px;
    padding: 15px;
    padding-left:25px ;
    padding-right: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

#results-section {
    display: flex;
    flex-direction: column;
    background-color: #BDDBD0;
    max-width: 200px;
    font-family: 'Roboto', sans-serif;

}

hidden {
    display: none;
}